.box-500 {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120%;

  scale : 1;
  overflow: hidden;
  margin-bottom: 5%;
  margin-left: 10%;
}
@media (min-width: 250px) {
  .box-500 {
    width: 300px;
    height: 300px;
  }
}

.margin-left {
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 0%;
  padding: 0;
}

.white-text{
  color : white;
}

.bg-gradient{
  position: relative;
  color: antiquewhite;
}

/* Overlay noir semi-transparent */
.bg-gradient::before {
  content: "";
  position: absolute;
  inset: 0; /* équivalent à top:0; right:0; bottom:0; left:0; */
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* Contenu au-dessus de l'overlay */
.bg-gradient > * {
  position: relative;
  z-index: 2;
}
